<div>
    {{#if isNotLoggedIn}}
    <a href="/login">Login</a>
    <a href="/register">Register</a>
    {{/if}}

    {{#if isLoggedIn}}
    <a href="/profile">My Profile</a>
    <a href="/api/sessions/logout">Logout</a>
    {{/if}}
</div>