<div>
    <form action="/api/sessions/register" method="post" enctype="application/x-www-form-urlencoded">
        <label for="_f_name">First name:</label>
        <input type="text" name="firstName" id="_f_name" />

        <label for="_l_name">Last name:</label>
        <input type="text" name="lastName" id="_l_name" />

        <label for="_age">Age:</label>
        <input type="number" name="age" id="_age" />

        <label for="_email">Email:</label>
        <input type="email" name="email" id="_email" />

        <label for="_pass">Password:</label>
        <input type="password" name="password" id="_pass" />

        <button type="submit">Register</button>
    </form>
</div>