<div>
    <h2>Crear usuario</h2>
    <form action="" id="create-user-form">
        <label for="in_email">Email:</label>
        <input type="email" name="email" id="in_email" />
        <label for="in_name">Nombre:</label>
        <input type="text" name="name" id="in_name" />
        <label for="in_lastname">Apellido:</label>
        <input type="text" name="lastName" id="in_lastname" />
        <label for="in_age">Edad:</label>
        <input type="number" min="1" name="age" id="in_age" />
        <label for="">Sexo:</label>
        <label for="in_male">Hombre</label>
        <input type="radio" name="genre" value="H" id="in_male" />
        <label for="in_female">Mujer</label>
        <input type="radio" name="genre" value="M" id="in_female" />
        <button type="submit">Enviar</button>
    </form>
</div>