<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>

    {{#each styles }}
    <link rel="stylesheet" href="css/{{this}}">
    {{/each}}

</head>

<body>
    {{{body}}}

    {{!-- jquery --}}
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    {{!-- sweet alerts --}}
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    {{#each scripts }}
    <script src="/js/{{this}}"></script>
    {{/each}}
</body>

</html>