<div>
    <form action="/api/sessions/reset_password" method="post" enctype="application/x-www-form-urlencoded">
        <label for="_email">Email:</label>
        <input type="email" name="email" id="_email" />

        <label for="_pass">New Password:</label>
        <input type="password" name="password" id="_pass"/>

        <button type="submit">Reset password</button>
    </form>
</div>