<div>
    <h1>Bienvenido {{user.firstName}} {{user.lastName}}</h1>
    <h2>Datos del perfil:</h2>
    <div>Edad: {{user.age}}</div>
    <div>Email: {{user.email}}</div>
</div>

<a href="/">Inicio</a>