<div>
    <input type="text" name="name" id="user">
    <input type="email" name="email" id="userEmail">
    <button id="getCookie" type="button">Get Cookie</button>
    <button id="submitCookie" type="button">Submit</button>
</div>

<script src="/index.js"></script>