<form action="/api/users" method="post">
    <label for="name">Nombre:</label>
    <input type="text" name="name" />
    
    <label for="lastname">Apellido:</label>
    <input type="text" name="lastname" />

    <label for="age">Edad:</label>
    <input type="number" name="age" />

    <label for="email">Email:</label>
    <input type="email" name="email" />

    <label for="password">Contraseña:</label>
    <input type="password" name="password" />

    <button type="submit">Enviar</button>
</form>