<h2>Validador de números enteros</h2>
<form action="/" method="post">

    <label for="num">Ingrese el número:</label>
    <input type="number" name="number" id="num">

    <button type="button" id="validate">Validar!</button>

    <div id="message"></div>
</form>